# Node.js dependencies
node_modules/

# Dependency directories
pnpm-lock.yaml

# Test files
__test__/

# Example directories
examples/

# Source files
src/

# Miscellaneous project files
.changeset/
.github/
.husky/
.eslintrc
.lintstagedrc.json
.prettierignore
.prettierrc
.unimportedrc.json
jest.config.ts
tsconfig.json